// article1부분
.article1{
   .intro{
        background: url(../img/intro2.png) no-repeat top;
        background-size: cover;

        .intro1{
            margin-top: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 50px;
            img{
                width: 180px;
                height: 180px;
                border-radius: 50%;
            }
            h2{ font-size: 40px; line-height: 1.6; color: #fff; }
        }

        .intro2{
            margin-top: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 100px;

            video{
                width: 450px;
                height: 400px;
            }
            .introduce{
                color: #fff;
                h2{text-align: center; font-size: 25px;}
                p{ margin-top: 20px; text-align: left; font-size: 18px; line-height: 2;
                    font-weight: 700;
                }
            }

        }
    }
}

.article2{
  .box{
    transform: translateY(15%);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10%;
    h3{ font-size: 18px;  padding-bottom: 20px;}
    p{ font-size: 13px; font-weight: 600; line-height: 1.8;}

    .box1{
      .aboutme2{margin-top: 40px;}
    }
    .box2{
      .aboutme4{margin-top: 30px;}
    }
  }

}





// article4부분
body {
background-color: #FFE53B;
background-image: linear-gradient(147deg, #FFE53B 0%, #fd3838 74%);
min-height: 100vh;
  display: flex;
}

.blog-slider {
    z-index: 99999;
    width: 100%;
    position: relative;
    max-width: 900px;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: 500px;
  transition: all .3s;
  
  
  &__item {
    display: flex;
    align-items: center;
    

    
    &.swiper-slide-active {
      .blog-slider__img {
        img {
          opacity: 1;
        transition-delay: .3s;
        }
      }
      .blog-slider__content {
        > * {
      
        opacity: 1;
        transform: none;

      @for $i from 0 to 15 {
        &:nth-child(#{$i + 1}) {
          transition-delay: $i * 0.1 + 0.3s;
        }
      }

    }
      }
    }
    
  }
  
  &__img {
     // width: 40%;
    width: 450px;
    flex-shrink: 0;
    height: 400px;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    border-radius: 20px;
    transform: translateX(-80px);
   
    overflow: hidden;
    
    &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
      border-radius: 20px;
    opacity: 0.8;
}
    
    img {
      width: 100%;
    height: 100%;
    object-fit: cover;
      display: block;
       opacity: 0;
      border-radius: 20px;
    transition: all .3s;
    }
    

  }
  
  &__content {
    // width: 60%;
    padding-right: 25px;

    > * {
      opacity: 0;
      transform: translateY(25px);
      transition: all .4s;
      
      
    }
    
  }
  
  &__code {
    color: #7b7992;
    font-size: 30px;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
  }
  
  &__title {
    font-size: 25px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
  }
  
  &__text {
    color: #4e4a67;
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 1.5em;
  }
  
  &__button {
        display: inline-flex;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
        justify-content: center;
    text-align: center;
    letter-spacing: 1px;

    
  }
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
    
}
  &__pagination {
   position: absolute;
    z-index: 21;
    right: 20px;
    width: 11px!important;
    text-align: center;
    left: auto!important;
    top: 50%!important;
    transform: translateY(-30%);

     &.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 8px 0;

}
    
    .swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    display: block;
    border-radius: 10px;
    background: #062744;
    opacity: 0.2;
      transition: all .3s;
      &-active {
    opacity: 1;
    background: #fd3838;
    height: 30px;
    box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);

}
}
    
  }
  
}

